@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-dark-bg text-white font-sans;
    overflow-x: hidden;
  }

  ::selection {
    @apply bg-neon-pink/30 text-white;
  }
}
